@model List<ClienteViewModel>

<h1>Clientes</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Completo</th>
            <th>Correo</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.IdCliente</td>
                <td>@cliente.NombreCompleto</td>
                <td>@cliente.Correo</td>
                <td>@cliente.Estado</td>
            </tr>
        }
    </tbody>
</table>
